.v-bg-2 {
  color: #333;
}
.v-bg-2 h3 {
  font-size: 5rem;
  font-weight: normal;
  line-height: 50px;
  margin: 0 0 60px 0;
  padding-top: 40px;
}
.v-bg-2 h4 {
  font-size: 4rem;
  font-weight: normal;
  line-height: 40px;
  color: #2660ad;
  margin: 0 0 120px 0;
}
.v-bg-2 span {
  display: block;
  font-size: 2rem;
  font-weight: normal;
  line-height: 20px;
  margin: 170px 0 0;
}
.v-2-box {
  height: 245px;
  width: 980px;
  text-align: justify;
}
.v-2-box:after {
  content: "";
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
}
.v-2-box > div {
  display: inline-block;
  width: 205px;
  height: 245px;
}
.v-2-box h5 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  text-align: center;
}
.v-2-icon {
  border: 6px solid #2660ad;
  box-sizing: border-box;
  width: 164px;
  height: 164px;
  position: relative;
  border-radius: 50%;
  margin: 20px auto 30px;
}
.v-2-icon .iconfont {
  color: #2660ad;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8.2rem;
}
